body{
	font-family:arial;
}

header{
	text-align:center;
	padding:10px;
	background-color:#333;
	color:white;
}

.container{
	margin-left: auto;
	margin-right:auto;
	width: 60%;
	height: 60%;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10%;
	background-color: grey;
}

#timer {
	margin-left:auto;
	margin-right:auto;
	width:73.5%;
	background-color:blue;
}

#timer label{
	margin-left:auto;
	margin-right:auto;
	font-size:120px;
	border:1px black solid;
	padding:5px;
}