body{
	font-family:arial;
	background-color:#333
}

header{
	text-align:center;
	padding:10px;
	background-color:#333;
	color:white;
}

.container{
	margin-left: auto;
	margin-right:auto;
	width: 60%;
	height: 60%;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	background-color: grey;
}

#timer-box {
	margin-left:auto;
	margin-right:auto;
	width:100%;
	padding:5px;
}

#timer-box #time{
	margin-left:12%;
	font-size:150px;
	border:none;
	padding:10px;
}

#input-box{
	background-color: none;
	width:20%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 40px;
}

#input-box, #input-box input[type="number"]{
	font-size:17px;	
}

#input-box label{
	display:block;
	margin-top:5px;
}

#input-box input[type="number"]{
	text-align:center;
	width:100%;
	box-sizing:border-box;
}

#button-box{
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
	width:15%;
}

#button-box input[type="button"]{
	width:100%;
	font-size:30px;
	border: 1px black solid;
	transition: 0.3s;
	background-color:black;
	color:white;
}

#button-box input[type="button"]:hover{
	background-color:white;
	color:black;
}

#button-box input[type="button"]:active{
	background-color:red;
	color:whitei;
}